CONFIG_BUILD_PATH=
CONFIG_BUILD_PREFIX=
CONFIG_BUILD_FLAGS=
CONFIG_BUILD_INCS=""
CONFIG_BUILD_LIBS=
CONFIG_BUILD_SYMS=


CONFIG_EXE_CWD="<#noparse>${</#noparse>workspace_loc:${projectName}}"
CONFIG_EXE_PRERUN="pwd"
CONFIG_EXE_CMD="<#noparse>${EXE_CWD}</#noparse>/nuttx/nuttx"
CONFIG_EXE_ARG=""

CONFIG_DBG_CWD="<#noparse>${EXE_CWD}</#noparse>"
CONFIG_DBG_PRECMD="pwd;ls"
CONFIG_DBG_SRVCMD=""
CONFIG_DBG_DONETAG="5"
CONFIG_DBG_CMD="gdb"
CONFIG_DBG_ARG=""
CONFIG_DBG_EXCMD="file <#noparse>${EXE_CMD}</#noparse>\nbreak main\nrun"

