CONFIG_BUILD_PATH=
CONFIG_BUILD_PREFIX=
CONFIG_BUILD_FLAGS=
CONFIG_BUILD_INCS="/home"
CONFIG_BUILD_LIBS=
CONFIG_BUILD_SYMS=


CONFIG_EXE_CWD="<#noparse>${</#noparse>workspace_loc:${projectName}}"
CONFIG_EXE_PRERUN="pwd"
CONFIG_EXE_CMD="<#noparse>${</#noparse>workspace_loc:${projectName}}/${projectName}"
CONFIG_EXE_ARG="Metis"

CONFIG_DBG_CMD="gdb"
CONFIG_DBG_ARG="--nx"
CONFIG_DBG_EXCMD="-target-select remote :2345\ntbreak main\ncontinue"

CONFIG_SRV_CMD="gdbserver"
CONFIG_SRV_ARG=":2345 <#noparse>${</#noparse>workspace_loc:${projectName}}/${projectName}"
CONFIG_SRV_TIMEOUT="5"



