
#
# https://source.android.com/devices/tech/debug/gdb
#


CONFIG_DROID_TOP="/media/zliu1212/zliu.cwe/htc.Droids/ocean_dugl/p90_shep"
CONFIG_DROID_HAL="/system/lib64/hw/sensors.msm8998.so"
CONFIG_DROID_HARD="htc_ocnuhl"
CONFIG_DROID_DEV="HT7361800050"
CONFIG_DROID_PORT="5039"
CONFIG_DROID_PID="963"
#############################################
CONFIG_BUILD_PATH=
CONFIG_BUILD_PREFIX=
CONFIG_BUILD_FLAGS=
CONFIG_BUILD_INCS="/home"
CONFIG_BUILD_LIBS=
CONFIG_BUILD_SYMS=


CONFIG_EXE_CWD="${workspace_loc:shamu}"
CONFIG_EXE_CMD="out/target/product/${DROID_HARD}/symbols/system/vendor/bin/hw/android.hardware.sensors@1.0-service"
CONFIG_EXE_ARG="Metis"

CONFIG_DBG_CWD="${DROID_TOP}"
CONFIG_EXE_PRECMD="adb forward tcp:${DROID_PORT} tcp:${DROID_PORT}"
CONFIG_DBG_SRVCMD="shell gdbserver64 :${DROID_PORT} --attach ${DROID_PID=}"
CONFIG_DBG_DONETAG="5"
CONFIG_DBG_CMD="${DROID_TOP}/prebuilts/gdb/linux-x86/bin/gdb"
CONFIG_DBG_ARG=""
CONFIG_DBG_EXCMD="file ${EXE_CMD}\nsource gdbclient.cmds\nbreak main"

