CONFIG_BUILD_PKG_URL="https://cdn.kernel.org/pub/linux/kernel/v3.x"
CONFIG_BUILD_PKG_DIR="linux-3.18.109"
CONFIG_BUILD_PKG_FILE="linux-3.18.109.tar.gz"
CONFIG_BUILD_CFG_FILE="linux-3.18.109_defconfig"

#CONFIG_BUILD_PKG_URL="https://cdn.kernel.org/pub/linux/kernel/v4.x"
#CONFIG_BUILD_PKG_FILE="linux-4.19.8.tar.xz"

CONFIG_BUILD_PATH=
CONFIG_BUILD_PREFIX=
CONFIG_BUILD_FLAGS="-nostdinc -isystem /usr/lib/gcc/x86_64-linux-gnu/7/include -std=gnu89 -m32 -march=i686 -mtune=generic -Wa,-mtune=generic32 -include <#noparse>${<#noparse>workspace_loc:${projectName}}/<#noparse>${BUILD_PKG_DIR}</#noparse>/include/linux/kconfig.h"
CONFIG_BUILD_INCS="<#noparse>${</#noparse>workspace_loc:${projectName}}/<#noparse>${BUILD_PKG_DIR}/arch/${BUILD_ARCH}/include:${</#noparse>workspace_loc:${projectName}}/<#noparse>${BUILD_OUTDIR}/arch/${BUILD_ARCH}/include/generated:${</#noparse>workspace_loc:${projectName}}/<#noparse>${BUILD_PKG_DIR}/include:${</#noparse>workspace_loc:${projectName}}/<#noparse>${BUILD_OUTDIR}/include:${</#noparse>workspace_loc:${projectName}}/<#noparse>${BUILD_PKG_DIR}/arch/${BUILD_ARCH}/include/uapi:${</#noparse>workspace_loc:${projectName}}/<#noparse>${BUILD_OUTDIR}/arch/${BUILD_ARCH}/include/generated/uapi:${</#noparse>workspace_loc:${projectName}}/<#noparse>${BUILD_PKG_DIR}/include/uapi:${</#noparse>workspace_loc:${projectName}}/<#noparse>${BUILD_OUTDIR}</#noparse>/include/generated/uapi"
CONFIG_BUILD_LIBS=
CONFIG_BUILD_SYMS=
CONFIG_BUILD_ARCH="x86"
CONFIG_BUILD_OUTDIR="outdir"

CONFIG_EXE_CWD="<#noparse>${HOME}</#noparse>"
CONFIG_EXE_CMD="<#noparse>${</#noparse>workspace_loc:${projectName}}/<#noparse>${BUILD_OUTDIR}/arch/${BUILD_ARCH}/boot/bzImage</#noparse>"
CONFIG_EXE_ARG="Metis"


CONFIG_DBG_CWD="<#noparse>${</#noparse>workspace_loc:${projectName}}"
CONFIG_DBG_PRECMD="pwd;ls"
CONFIG_DBG_SRVCMD="qemu-system-i386 -m 1024 -d guest_errors -smp 2 -s -S -kernel <#noparse>${EXE_CMD}</#noparse>"
CONFIG_DBG_DONETAG="5"
CONFIG_DBG_CMD="gdb"
CONFIG_DBG_ARG=""
CONFIG_DBG_EXCMD="set auto-load safe-path /\nfile <#noparse>${BUILD_OUTDIR}</#noparse>/vmlinux\ntarget remote :1234\nbreak start_kernel\ncontinue"


